
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Minicraft</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    
    <link rel="stylesheet" href="/static/script/css/reset.css">

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

        <link rel="stylesheet" href="/static/script/css/style.css">
    
  </head>


<body style="background-color: black" >

<div class="container" style="margin-top: 60px;">
<p style="text-align:center; color: red; font-size: 48px;">MiniCraft Tutorial</p>
<p style="text-align:center; margin-top: 20px; font-size:20px;">Welcome to MiniCraft Browser Game</p>

<p style="margin-top: 20px; font-size: 16px;" > You can move, acquire an item and damage with direction keys. </p>
    <p style="font-size: 16px;"> You can eat with the key "E" </p>
    <p style="font-size: 16px;"> You can click the item on the list "Click to merge" to merge an item </p>
    <p style="font-size: 16px;"> You can click on the item in the inventory to use an item if it is usable </p>
    <p style="font-size: 16px;" > You can put an item with the keys "W", "A", "S" and "D" to relative direction. </p>
    <p style="font-size: 16px;"> You can save and quit with the key "Q" </p>
    <p style="font-size: 16px">Have fun</p>
    <div style="margin-top:20px;">
    <a  href="/" ><button type="button" class="btn btn-success" >Go to Login</button> </a>
        </div>
</div>










</body>
</html>